<div class="player-container">
  <div class="avatar-container">
    <img class="avatar" *ngIf="src" [src]="src" alt="" id="player-avatar">
    <img class="avatar-frame" src="../../../assets/ui_textures/frame.png">
  </div>
  <div class="player-info">
    <div class="player-stats-top">
      <span id="player-username">{{player.username}}</span>
      <div class="player-resources">
        <img src="../../../assets/ui_textures/resources_Grain.png" alt="recources">
        <span>{{calculateResources()}}</span>
      </div>
    </div>
    <div class="player-stats-bottom">
      <div id="player-score">
        <img class="player-stat-icon" src="../../../assets/ui_textures/btn_victory.png">
        <p>{{player.points}}</p>
      </div>
      <div id="player-streets">
        <img class="player-stat-icon" src="../../../assets/ui_textures/btn_path.png">
        <p>{{player.longestRoad}}</p>
      </div>
      <div id="player-knights">
        <img class="player-stat-icon" src="../../../assets/ui_textures/btn_knight.png">
        <p>{{player.numberOfKnights}}</p>
      </div>
    </div>
  </div>
</div>

