.player-container {
  position: relative;
  height: 100%;
  display: grid;
  grid-template-rows: 100%;
  grid-template-columns: 25% 75%;
  text-align: center;
  background-image: url("../../../assets/ui_textures/wood_plank.png");
  background-size: 100% 100%;
  padding: 2%;
}

#player-avatar{
  grid-row: 1;
  grid-column: 1;
  margin: auto;
}

.avatar-container{
  position: relative;
  margin: auto;
  height: 100%;
  width: 100%;
}

.avatar{
  position: absolute;
  width: 90%;
  height: auto;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
}

.avatar-frame{
  position: absolute;
  width: 100%;
  height: auto;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
}

.player-info{
  grid-row: 1;
  grid-column: 2;
  font-size: 1.2vw;
  font-weight: bold;
  color: wheat;
}

.player-stats-bottom{
  display: flex;
  justify-content: center;
  height: 33%;
  margin-top: 5%;

  div{
    width: 33%;
    p{
      display: inline;
    }
  }
}

.player-stats-top{
  display: grid;
  grid-template-columns: 70% 30%;
}

.player-stat-icon{
  height: 100%;
}

.player-resources{
  img {
    width: 40%;
  }
}
