.notFoundBox{
  max-width:500px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
  background:rgba(255,255,255, 0.8);
  border-radius:2px;
  text-align: center;
}
h1{
  margin-top:25px;
  color: white;
}
h3{
  padding-top: 25px;
}

.notFoundBox > button{
  margin-top: 25px;
  margin-bottom: 25px;
}
