<h1>Settlers of Catan</h1>
<div class="notFoundBox">
  <h3>{{ 'PAGENOTFOUND' | translate }}</h3>
  <button class="btn btn-primary" [routerLink]="['/navigation']">{{ 'GOBACK' | translate }}</button>
</div>

