.hitbox {
  background-color: black;
  position: absolute;
  z-index: 1;
  border: solid black 1px;
}

.crossroads{
  position: absolute;
  width: 15px;
  z-index: 2;
  height: auto;
}

.cityhitbox{
  border: white;
  border-radius: 2px;
  border-style: solid;
}

