/*The style for the loding bar*/
.hidden {
  visibility: hidden;
}

//The hidden overlay, only adjust the max-width in the parent components if nescessary
.loader-overlay {
  position: relative;
  width: 100%;
  z-index: 1;
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
}

.loader {
  height: 6px;
  width: 100%;
  position: relative;
  overflow: hidden;
  background: transparent;
  bottom: 6px;
  border-radius: 2px;
}
.loader:before {
  display: block;
  position: absolute;
  content: "";
  left: -200px;
  width: 200px;
  height: 6px;
  background-color: #2471FF;
  animation: loading 2s linear infinite;
}

//Blue bar animation
@keyframes loading {
  from {left: -200px; width: 30%;}
  50% {width: 30%;}
  70% {width: 70%;}
  80% {left: 50%;}
  95% {left: 120%;}
  to {left: 100%;}
}

