<!-- This component containts the loading bar, place '<app-loading>' where a loading bar is needed.
  Example can be found in the login and the registration components -->
<div [class.hidden]="!show">
  <div class="loader-overlay">
    <div *ngIf="show" class="loader"></div>
  </div>
</div>
