//Adjust the max width with ::ng-deep, add the important to override the max-width from the loading component
:host ::ng-deep .loader-overlay{
  max-width: 800px !important;
}

.correctInput{
  border: 1px solid green !important;
}
.wrongInput{
  border: 1px solid red !important;
}
#disabledButton{
  opacity: 0.5;
}
h1{
  color: white;
}

.submitForm{
  background: #2471FF;
  border: none;
  padding: 10px 20px 10px 20px;
  border-radius: 3px;
  color: #D2E2FF;
  width: 100%;
}

.register-form{
  max-width:800px;
  margin-left: auto;
  margin-right: auto;
  background:rgba(255,255,255,0.8);
  border-radius:2px;
  padding:20px;
  font-family: Georgia, "Times New Roman", Times, serif;
}
.register-form h1{
  display: block;
  text-align: center;
  padding: 0;
  margin: 0 0 20px 0;
  padding-bottom: 15px;
  color: #5C5C5C;
  font-size:x-large;
  border-bottom: 2px solid #5C5C5C;
}
.register-form ul{
  list-style:none;
  padding:0;
  margin:0;
  display: grid;
  grid-template-rows: repeat(8,1fr);
  grid-template-columns: repeat(2, 50%);
}

/*MOBILE POSITIONING*/
#firstNameBox{
  grid-row: 1;
  grid-column-start: 1;
  grid-column-end: 3;
  background: white;
}
#lastNameBox{
  grid-row: 2;
  grid-column-start: 1;
  grid-column-end: 3;
  background: white;
}
#usernameBox{
  grid-row: 3;
  grid-column-start: 1;
  grid-column-end: 3;
  background: white;
}
#emailBox{
  grid-row: 4;
  grid-column-start: 1;
  grid-column-end: 3;
  background: white;
}
#passwordBox{
  grid-row: 5;
  grid-column-start: 1;
  grid-column-end: 3;
  background: white;
}
#passwordRepeatBox{
  grid-row: 6;
  grid-column-start: 1;
  grid-column-end: 3;
  background: white;
}
#submitBox{
  border:none;
  margin-bottom: 0;
  text-align: center;
  grid-row: 7;
  grid-column-start: 1;
  grid-column-end: 3;
}
#haveAccountLink{
  grid-row: 8;
  grid-column-start: 1;
  grid-column-end: 3;
}

.register-form li{
  display: block;
  padding: 9px;
  border:1px solid #DDDDDD;
  margin-bottom: 30px;
  border-radius: 3px;
}

.register-form li:last-child{
  border:none;
  margin-bottom: 0px;
  text-align: center;
}
.register-form li > label{
  display: block;
  float: left;
  margin-top: -19px;
  background: #FFFFFF;
  height: 14px;
  padding: 2px 5px 2px 5px;
  color: #B9B9B9;
  font-size: 14px;
  overflow: hidden;
  font-family: Arial, Helvetica, sans-serif;
}
.register-form input[type="text"],
.register-form input[type="email"],
.register-form input[type="password"]
{
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  width: 100%;
  display: block;
  outline: none;
  border: none;
  height: 25px;
  line-height: 25px;
  font-size: 16px;
  padding: 0;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.register-form li > span{
  display: block;
  padding: 3px;
  margin: 0 -9px -9px -9px;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 11px;
}

.register-form input[type="submit"]{
  background: #2471FF;
  border: none;
  padding: 10px 20px 10px 20px;
  border-radius: 3px;
  color: #D2E2FF;
  width: 100%;
}
.register-form input[type="submit"]:hover,
.register-form input[type="button"]:hover{
  background: #6B9FFF;
  color:#fff;
  cursor: pointer;
}
.register-form li:focus-within{
  border: 1px solid #2471FF;
}

@media (min-width: 600px) {
  .register-form ul{
    grid-template-rows: repeat(5, 1fr);
    grid-template-columns: 48% 4% 48%;
  }
  #firstNameBox{
    grid-row: 1;
    grid-column: 1;
  }
  #lastNameBox{
    grid-row: 1;
    grid-column: 3;
  }
  #usernameBox{
    grid-row: 2;
    grid-column: 1;
  }
  #emailBox{
    grid-row: 2;
    grid-column: 3;
  }
  #passwordBox{
    grid-row: 3;
    grid-column: 1;
  }
  #passwordRepeatBox{
    grid-row: 3;
    grid-column: 3;
  }
  #submitBox{
    grid-row: 4;
    grid-column-start: 1;
    grid-column-end: 4;
  }
  #haveAccountLink{
    grid-row: 5;
    grid-column-start: 1;
    grid-column-end: 4;
  }
}

