<h1>Settlers of Catan</h1>
<div class="register-container">
  <form #registerForm="ngForm" class="register-form" (ngSubmit)="registerUser()">
    <h1>{{ 'REGISTER' | translate }}</h1>
    <ul>
      <li id="firstNameBox" [ngClass]="firstName.invalid ? 'wrongInput': 'correctInput'">
        <input type="text" id="firstName" name="firstName" placeholder="{{ 'FIRSTNAME' | translate }}"
               [(ngModel)]="user.firstName" #firstName="ngModel" required>
      </li>

      <li id="lastNameBox" [ngClass]="lastName.invalid ? 'wrongInput': 'correctInput'">
        <input type="text" id="lastName" name="lastName" placeholder="{{ 'LASTNAME' | translate }}"
               [(ngModel)]="user.lastName" #lastName="ngModel" required>
      </li>
      <li id="usernameBox" [ngClass]="userName.invalid ? 'wrongInput': 'correctInput'">
        <input type="text" name="username" id="username" placeholder="{{ 'USERNAME' | translate }}"
               [(ngModel)]="user.username" #userName="ngModel" required>

      <li id="emailBox" [ngClass]="email.invalid ? 'wrongInput': 'correctInput'">
        <input type="email" name="email" id="email" placeholder="{{ 'EMAIL' | translate }}" [(ngModel)]="user.email"
               #email="ngModel" [email]="true" required>
      </li>

      <li id="passwordBox" [ngClass]="password.invalid ? 'wrongInput': 'correctInput'">
        <input type="password" name="password" id="password" placeholder="{{ 'PASSWORD' | translate }}"
               [(ngModel)]="user.password" #password="ngModel"
               [minlength]="8" required>
      </li>


      <li id="passwordRepeatBox" [ngClass]="passwordRepeatText !== user.password ? 'wrongInput': 'correctInput'">
        <input type="password" name="passwordRepeat" id="passwordRepeat"
               placeholder="{{ 'PASSWORDREPEAT' | translate }}" [(ngModel)]="passwordRepeatText"
               #passwordRepeat="ngModel" required>
      </li>

      <li id="submitBox">
        <input type="submit" class="submitForm" value="{{ 'REGISTER' | translate }}" id="disabledButton"
               *ngIf="!registerForm.form.valid || (passwordRepeatText !== user.password)" [disabled]="true">
        <input type="submit" class="submitForm" value="{{ 'REGISTER' | translate }}"
               *ngIf="registerForm.form.valid && (passwordRepeatText === user.password)">
      </li>

      <li id="haveAccountLink">
        <button type="button" class="btn btn-info" [routerLink]="['/login']"> {{ 'ALREADYHASACCOUNT' | translate }}
        </button>
      </li>
    </ul>
  </form>
  <app-loader></app-loader>
</div>
