.profile-form{
  max-width:800px;
  margin-left: auto;
  margin-right: auto;
  background:rgba(255,255,255,0.8);
  border-radius:2px;
  padding:20px;
  font-family: Georgia, "Times New Roman", Times, serif;
}
.profile-form h1{
  display: block;
  text-align: center;
  padding: 0;
  margin: 0 0 20px 0;
  padding-bottom: 15px;
  color: #5C5C5C;
  font-size:x-large;
  border-bottom: 2px solid #5C5C5C;
}
.profile-form ul{
  list-style:none;
  padding:0;
  margin:0;
  display: grid;
  grid-template-rows: 2fr repeat(5, 1fr);
  grid-template-columns: 100%
}
.friends-icon{
  width: 10px;
  height: 10px;
  grid-row: 3;
  grid-column: 1;
}

.profile-form li{
  display: block;
  padding: 9px;
  margin-bottom: 30px;
  border-radius: 3px;
}
.profile-form input[type="text"],
.profile-form input[type="email"]
{
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  width: 100%;
  display: block;
  outline: none;
  border: none;
  height: 25px;
  line-height: 25px;
  font-size: 16px;
  padding: 0;
  font-family: Georgia, "Times New Roman", Times, serif;
}
.submitForm{
  background: #2471FF;
  border: none;
  padding: 10px 20px 10px 20px;
  border-radius: 3px;
  color: #D2E2FF;
  width: 100%;
}

#previousPicture{
  position: absolute;
  z-index: 1;
  height: 100%;
  width: 15%;
  background: rgba(255,255,255,0.5);
}

.profilePictureImages{
  width: 100%;
  margin-top: 85px;
}

#nextPicture{
  position: absolute;
  z-index: 1;
  height: 100%;
  width: 15%;
  background: rgba(255,255,255,0.5);
  top: 0;
  right: 0;
}
#innerProfilePicturebox{
  position: relative;
  width: 100%;
  height: 100%;
}
#innerProfilePicturebox > img{
  width: 200px;
}
.profilePictureSelector:hover{
  cursor: pointer;
}
.goBack{
  position: absolute;
  width: 40px;
}
.goBack:hover{
  cursor: pointer;
}

/*POSITIONING*/
#profilePictureBox{
  width: auto;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
  grid-row: 1;
  grid-column: 1;
}
#firstNameBox{
  grid-row: 2;
  grid-column: 1;
  background: white;
}
#lastNameBox{
  grid-row: 3;
  grid-column: 1;
  background: white;
}
#usernameBox{
  grid-row: 4;
  grid-column: 1;
  background: #EBEBE4;
}
#emailBox{
  grid-row: 5;
  grid-column: 1;
  background: #EBEBE4;
}
#submitBox{
  grid-row: 6;
  grid-column: 1;
}

@media (min-width: 600px) {
  .profile-form ul{
    grid-template-columns: 48% 4% 48%;
    grid-template-rows: repeat(4, 1fr);
  }
  #profilePictureBox{
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column: 1;
    width: auto;
    height: auto;
  }
  #emailBox{
    grid-row: 1;
    grid-column: 3;
  }
  #usernameBox{
    grid-row: 2;
    grid-column: 3;
  }
  #firstNameBox{
    grid-row: 3;
    grid-column: 1;
  }
  #lastNameBox{
    grid-row: 3;
    grid-column: 3;
  }
  #submitBox{
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row: 4;
  }
}
