<div class="profileContainer" *ngIf="user">
  <form #profileForm="ngForm" class="profile-form" (ngSubmit)="updateUser()">
    <img src="../../../assets/icons/back.png" alt="" class="goBack" [routerLink]="['/navigation']">
    <h1>{{ 'UPDATEPROFILE' | translate }}</h1>
    <ul>
      <li id="profilePictureBox">
        <div id="innerProfilePicturebox">
          <div (click)="previousProfilePicture()" id="previousPicture" class="profilePictureSelector"><img src="../../../assets/icons/arrowLeft.png"
                                                                                                           alt="" class="profilePictureImages"></div>
          <img [src]="getImageSource()">
          <div (click)="nextProfilePicture()" id="nextPicture" class="profilePictureSelector"> <img src="../../../assets/icons/arrowRight.png"
                                                                                                    alt="" class="profilePictureImages"> </div>
        </div>
      </li>
      <li id="firstNameBox" [ngClass]="firstName.invalid ? 'wrongInput': 'correctInput'">
        <input type="text" id="firstName" name="firstName" [(ngModel)]="user.firstName" #firstName="ngModel" placeholder="{{ 'FIRSTNAME' | translate }}" required>
        <img src="../../../assets/icons/friends.png" class="friends-icon" [routerLink]="['/friends']">Friends
      </li>
      <li id="lastNameBox" [ngClass]="lastName.invalid ? 'wrongInput': 'correctInput'">
        <input type="text" id="lastName" name="lastName" [(ngModel)]="user.lastName" #lastName="ngModel" placeholder="{{ 'LASTNAME' | translate }}" required>
      </li>
      <li id="usernameBox" [ngClass]="username.invalid ? 'wrongInput': 'correctInput'">
        <input type="text" id="username" name="username" [(ngModel)]="user.username" #username="ngModel" placeholder="{{ 'USERNAME' | translate }}" required disabled>
      </li>
      <li id="emailBox" [ngClass]="email.invalid ? 'wrongInput': 'correctInput'">
        <input type="text" id="email" name="email" [(ngModel)]="user.email" #email="ngModel" placeholder="{{ 'EMAIL' | translate }}" required disabled>
      </li>

      <li id="submitBox">
        <input type="submit" class="submitForm" value="{{ 'UPDATEPROFILE' | translate }}" id="disabledButton" *ngIf="!profileForm.form.valid" [disabled]="true">
        <input type="submit" class="submitForm" value="{{ 'UPDATEPROFILE' | translate }}" *ngIf="profileForm.form.valid">
      </li>
    </ul>
  </form>

</div>
