<div class="outer-container">
  <div class="add-friends-container">
    <h1>{{"ADDFRIENDS" | translate}}</h1>
      <input type="text" [ngModel]="username" (ngModelChange)="searchUsers($event)"  placeholder="Search friends..." class="search-friends-bar">

    <div *ngFor="let user of users">
      <div class="user">
        <img src="../../../assets/avatars/avatar0.png" alt="" class="avatar-preview">
        <p class="username">{{user.username}}</p>
        <button class="customize-button btn btn-primary" (click)="addFriend(user.username)">{{"ADDFRIEND" | translate}}</button>
      </div>
    </div>
  </div>


  <div class="friends-container">
    <h1>{{"YOURFRIENDS" | translate}}</h1>
    <ng-container *ngIf="user!=null">
      <div *ngFor="let friend of user.friends">
        <div class="user">
          <img src="../../../assets/avatars/avatar0.png" alt="" class="avatar-preview"> <!--TODO: when the friend is loaded, give the right avatar image-->
          <p class="username">{{friend.username}}</p>
          <button class="customize-button btn btn-danger">{{"DELETE" | translate}}</button>
        </div>
      </div>
    </ng-container>
  </div>
</div>
