h1 {
  display: block;
  text-align: center;
  margin: 10px 0 20px 0;
  padding: 0 0 15px;
  color: #5C5C5C;
  font-size: x-large;
  border-bottom: 2px solid #5C5C5C;
}

.outer-container {
  display: flex;
  flex-direction: column;
}

.add-friends-container {
  background: rgba(255, 255, 255, 0.6);
  width: 90%;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
}

.friends-container {
  background: rgba(255, 255, 255, 0.6);
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.search-friends-bar{
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 15px;
  width: 90%;
}

.user{
  display: grid;
  grid-template-columns: repeat(3,33%);
  grid-template-rows: 100%;
  width: 90%;
  margin: 5px auto;
}

.avatar-preview{
  max-width: 50px;
  max-height: 50px;
  border-radius: 50%;
}
.username{
  font-size: 1.2em;
  margin-top: auto;
  margin-bottom: auto;
}

.customize-button{
  height: 30px;
  padding-top: 5px;
  margin-top: auto;
  margin-bottom: auto;
}

@media (min-width: 600px){
  .outer-container{
    flex-direction: row;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: 800px;
  }
  .add-friends-container{
    width: 48%;
    margin-left: 1%;
    margin-right: 1%;
  }
  .friends-container{
    width: 48%;
    margin-left: 2.5%;
    margin-right: 2.5%;
  }
}
