<div class="chat-container">
  <div class="column-1">
    <div class="chat-window"></div>
    <input class="message-box" [(ngModel)]="value" (keydown)="sendMessageWithEnter($event)" maxLength="255"/>
    <button type="button" (click)="sendMessage()" class="message-btn">{{ 'SEND' | translate }}</button>
  </div>
  <!--<div class="column-2">
    <div *ngFor="let player of players" class="player">{{ player }}</div>
  </div>-->
</div>
