$spacing: 5px;
$border: 1px solid rgb(225, 225, 225);
$element-background-color: rgb(255, 255, 255);
$container-background-color: rgb(245, 245, 245);
$text-color: rgb(80, 80, 80);

.chat-container {
  color: $text-color;
  font-family: "Arial", sans-serif;
  font-size: 12px;
  display: flex;
  //border: $border;
  //background-color: $container-background-color;
  //width: 500px;
  height: 100%;
  padding: $spacing;

  > * {
    height: 100%;

  }

  .column-1 {
    width: 100%;
    > * {
      box-sizing: border-box;
      //background-color: $element-background-color;
    }

    .chat-window {
      //border: $border;
      height: 90%;
      margin-bottom: $spacing;
      overflow-y: auto;

      .chat-message, .join-leave-message {
        padding: $spacing;
        overflow-wrap: break-word;
        color: wheat;
        font-weight: bold;
      }

      .join-leave-message {
        font-style: italic;
        background-color: rgb(40, 40, 40);
        color: #fff;
      }
    }

    .message-box {
      border: $border;
      height: calc(10% - #{$spacing});
      display: inline-block;
      width: 75%;
      background: wheat;
    }
    .message-btn{
      width: 20%;
      height: calc(10% - #{$spacing});
      margin-left: 3%;
      padding: 1%;
      background: brown;
      border: none;
      color: wheat;
      font-weight: bold;
      font-size: large;
      border-radius: 5%;
    }
  }

  .column-2 {
    box-sizing: border-box;
    width: calc(20% - #{$spacing});
    border: $border;
    margin-left: $spacing;
    box-sizing: border-box;
    //background-color: $element-background-color;

    .player {
      padding: $spacing;
    }
  }
}
