.players {
  display: flex;
  justify-content: center;
  height: 100px;
  width: 100%;
}

.trade-flex{
  align-items: center;
  display: flex;
}

span{
  align-self: center;
}

app-resource-card{
  width: 40%;
}
.sendRequestButton{
  display: flex;
  justify-content: flex-end;
}

.resource-cards {
  margin-top: 15px;
}

input{
  grid-column: 2;
  height: 30px;
  width: 50px;
}
.flexbox-resource-and-counter{
  display: flex;
}

.trade-text{
  width: 30%;
  color: wheat;
  font-size: large;
  font-weight: bold;
}
