
  <div class="flexbox-resource-and-counter">
    <div class="resource-cards" *ngFor="let resource of player.resources | keyvalue; index as i">
      <ng-container *ngIf="player">
        <div class="trade-flex">
          <app-resource-card
            [resourceType]="resource.key"
            [resourceValue]="resource.value">
          </app-resource-card>
          <input type="number" (change)="changeResourceToGet($event, i)" min="0">
        </div>
      </ng-container>
    </div>
    <span class="trade-text">You will receive</span>
  </div>
  <div class="flexbox-resource-and-counter">
    <div class="resource-cards" *ngFor="let resource of player.resources | keyvalue; index as i">
      <ng-container *ngIf="player">
        <div class="trade-flex">
          <app-resource-card
            [resourceType]="resource.key"
            [resourceValue]="resource.value">
          </app-resource-card>
          <input type="number" (change)="changeResourceToGive($event, i)" [max]="resource.value + 5" min="0">
        </div>
      </ng-container>
    </div>
    <span class="trade-text">You will give</span>
  </div>
  <div class="sendRequestButton" >
    <button class="btn btn-primary" (click)="sendTradeRequest()">Send Request!</button>
  </div>

