<div class="container">

  <button (click)="getGamesForList()" class="btn btn-primary findGames">Find MyGames</button>

  <ng-container *ngIf="dataLoaded">
    <div class="game-list" *ngFor="let x of game" (click)="startReplay(x.url)">
      <span  >url: {{x.url}}</span>
      <div class="players" *ngFor="let player of x.players; index as i">
        <span>player : {{player}}</span>
      </div>
    </div>
  </ng-container>
</div>

