span {
  color: black;
}

.findGames {
  text-align: center;
  width: 50%;
  margin-top: 25px;
  margin-right: auto;
  margin-left: auto;
}

.container {
  width: 90%;
  max-width: 500px;
  min-height: 500px;
  background: rgba(255, 255, 255, 0.6);
  height: auto;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5%;
}

.game-list {
  padding: 5px;
  margin-top: 15px;
  margin-bottom: 15px;
  border: 1px solid black;
}

.game-list {
  cursor: pointer;
}
