.page{
  padding-top: 5%;
  padding-bottom: 2%;
  width: 60%;
  margin: 40px auto auto;
  background-image: url("../../../assets/textures/page.png");
}
.pageText
{
  margin: auto;
  width: 90%;
}
.invisible{
  visibility: hidden;
}
button{
  height: 40px;
  width: 100px;
  background-size: cover;
  border-radius: 10px;
  margin-left: 30px;
  border: none;
  background-image: url("../../../assets/icons/Plank_10.png");
}
.icons{
  display: flex;
  margin: auto auto auto 10px;
  justify-content: space-between;
}
img{
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 10px;
  height: 60px;
  width: 40px;
}
