<div class="page">
  <button (click)="goBack()">Go Back</button>
  <div class="icons">
    <img src="../../../assets/icons/arrow_left.png" alt="arrow left" (click)="goLeft()" [ngClass]="{'invisible': page === 1}">
    <h1>Spelregels</h1>
    <img src="../../../assets/icons/arrow_right.png" alt="arrow right" (click)="goRight()" [ngClass]="{'invisible': page === 3}">
  </div>
  <div class="pageText" *ngIf="page === 1">
    <h2>StichtingsFase</h2>
    <p>Deze fase spreidt zich uit over twee ronden. Elke speler krijgt de gelegenheid om tweenederzettingen en twee
      straatjes te bouwen alvorens het spel zelf start.
      Eerste rondeWie het hoogst dobbelt, begint. Hij plaatst 1 nederzetting op een kruising naar keuze en sluithierop
      in
      willekeurige richting 1 straat aan.
      Vervolgens zijn de andere spelers in uurwijzerzin aande beurt. Bij het zetten moet echter rekening gehouden
      worden
      met
      de afstandsregel!</p>
    <p><b>Afstandsregel</b> : Een nederzetting mag slechts op een vrije kruising gezet worden als de
      driedichtstbijzijnde niet
      bebouwd
      zijn door een nederzetting of stad. Het maakt niet uit wie erstaat, het kruispunt moet vrij zijn.</p>

    <p><b>Tweede ronde</b> : Vervolgens plaatst de speler die tijdens de eerste ronde als laatste een nederzetting
      mocht
      plaatsen
      een
      tweede nederzetting en straat. De andere spelers volgen in tegenuurwijzerzin. De tweede nederzetting en straat
      mag
      -
      rekening houdend met de afstandsregel - overal geplaatst worden.Onmiddellijk na het plaatsen van de tweede
      nederzetting
      en straat, ontvangt elke speler zijn eerste grondstoffen. Voor elk landveld dat aan die tweede nederzetting
      grenst,
      ontvangt hij overeenstemmende grondstofkaart uit de voorraad. Deze grondstofkaarten houden de spelers voor
      elkaar
      verborgen.De speler die als laatste zijn tweede nederzetting plaatste, begint het spel.</p>
    <p>
      <b>Spelverloop</b> : Elke speler doorloopt per beurt de volgende drie fasen:· opbrengst van het land (a)·
      handelen (b)·
      bouwen
      (c)· enkele bijzondere gebeurtenissen (d)<br> <b>a) opbrengst van het land.</b>De speler aan beurt moet met
      beide
      dobbelstenen
      gooien. De som van de twee dobbelstenenbepaalt het landnummer dat grondstoffen opbrengt. Elke speler die een
      nederzetting of stad heeftaan dit gedobbeld stuk land, ontvangt een grondstofkaart (twee indien een stad). Zijn
      op
      een bepaald ogenblik geen grondstofkaarten meer voorradig, ontvangt geen enkele speler die kaart indien
      beurt.<br>
    </p>

  </div>
  <div class="pageText" *ngIf="page === 2">
    <p>
      <b> b)
        handelen :</b> Vervolgens mag de speler die aan de beurt is handel drijven met de andere spelers om zo aan
      dehem
      ontbrekende
      grondstofkaarten te geraken. We onderscheiden hierbij de gewone binnenlandse handel en zeehandel.· <br><b>binnenlandse
      handel :</b> De speler mag met alle spelers grondstofkaarten ruilen. Hij deelt b.v. mee wat hij nodigheeft en
      wat hij
      bereid
      is om er in ruil voor te geven. Belangrijk is dat er alleen gehandeld mag worden met de speler die aan de beurt
      is,
      dus
      niet onder de andere spelersonderling <br> <b>zeehandel : </b>Hierbij kan de speler zonder behulp van zijn
      medespelers
      aan
      tafel grondstofkaartenruilen.Bij de meest eenvoudige ruil kan de speler 4 gelijke grondstofkaarten van 1 soort
      omruilen
      tegen 1 grondstofkaart naar keuze. Het bezit van een haven is hierbij niet nodig. Heeft een speler echter een
      nederzetting of een stad opgericht aan zee, dan kan hij veel interessantere deals doen. Bij een eenvoudige haven
      (met
      ?) mag de speler steeds 3 gelijke grondstofkaarten ruilen voor 1 andere naar keuze. Bij een speciale haven moet
      de speler slechts 2 gelijke kaarten van de afgebeelde grondstof omruilen tegen 1 nieuwe naar keuze</p>
    <p><b>b) bouwen : </b>De speler die aan de beurt is, kan ook bouwen om zijn zegepunten te verhogen. In ruil
      voorbepaalde
      combinaties van grondstofkaarten (zie overzichtskaartje) kan hij willekeurig veelstraten, nederzettingen of
      steden</p>
    <p>
      bouwen.1. straat: hout + stenenEen nieuwe straat moet aangelegd worden aan eigen straten, nederzettingen of
      steden.Op
      elke weg kan natuurlijk slechts 1 weg gebouwd worden. Zodra een speler eenaaneensluitende straat heeft uit 5
      stukken
      straat, ontvangt hij de speciale kaart "Langstehandelsstraat" die hem 2 extra zegepunten opleveren. Een
      handelsstraat
      kan onderbroken worden of een andere speler kan een langere straat bouwen. Op datogenblik gaat die speciale
      kaart
      naar
      de speler met de langste straat. Zodra 2 of meerspelers een even lange straat hebben, gaat de kaart terug naar
      de
      voorraad.2. nederzetting: hout + stenen + graan + wolRekening houden met de afstandregel. De nederzetting moet
      minstens aan 1 eigenstraat grenzen. Elke nederzetting op het spelbord levert ook 1 zegepunt op en kan
      1grondstofkaart
      opbrengen indien de dobbelstenen dit bepalen.3. stad: 2 x graan + 3 x erts De speler bouwt zijn nederzetting
      om
      tot
      een stad. Hij verwisselt het huisje voor een kerk.Elke stad levert 2 zegepunten en kan 2 grondstofkaarten
      opbrengen.</p>
  </div>
  <div class="pageText" *ngIf="page === 3">
    <p><b>4. ontwikkelingskaart:</b> graan + wol + ertsAls een speler een ontwikkelingskaart wil kopen, neemt hij de
      bovenste
      van
      de stapel afin ruil voor de 3 benodigde grondstofkaarten. De bekomen kaart(en) houdt hij best geheim voor de
      anderen.</p>
    <p><b>d) speciale gebeurtenissen + kaarten.<br> rover : </b>Als een speler een 7 dobbelt bij het begin van zijn
      beurt, ontvangt
      geen
      enkele spelereen grondstofkaart. Alle spelers die meer dan 7 grondstofkaarten in bezit hebben,moeten de helft
      terug
      naar de voorraad brengen (ze zijn gelukkig wel vrij om te bepalendewelke...). Vervolgens neemt de speler die
      aan
      de
      beurt is de rover en plaatst deze op eenwillekeurig ander landveld. Dan mag hij nog van een medespeler naar
      keuze
      die
      aan ditgetroffen stuk land een nederzetting of stad heeft staan, een grondstofkaart stelen en bijzijn eigen
      voorraad
      voegen. Zijn er meerdere spelers voorhanden, dan kiest hij 1slachtoffer uit. Het roven zelf gebeurt geheim: je
      mag
      niet zien welke soort kaart je steelt.Zolang een rover op een bepaald gebied staat, ontvangt geen enkele
      speler
      grondstoffen voor dit gebied.<br>2. ontwikkelingskaart uitspelen : Een speler die aan de beurt is, mag op
      gelijk
      welk
      ogenblik tijdens zijn beurt 1 ontwikkelingskaart uitspelen (hehalve de kaart die hij eventueel net kocht).<br>
      <b>3.
        ridder : </b>Als
      een speler deze kaart uitspeelt, moet hij de rover op een ander landveld zetten. Hij steelt ook 1
      grondstofkaart
      van
      een willekeurige speler die er een nederzetting of stad heeft. Gespeelde ridderkaarten blijven open voor de
      speler
      op
      tafel liggen. Een speler met 3 gespeelde ridderkaarten ontvangt de speciale kaart "Grootste Riddermacht". Dit
      levert
      hem extra 2 zegepunten. Deze kaart gaat terug naar de voorraad indien iemand anders evenveel ridderkaarten
      komt
      uit te
      spelen, of gaat naar die speler die op dat ogenblik weer de grootste riddermacht voor zich liggen
      heeft.<br><b>4.
        vooruitgang : </b>Diegene die een dergelijke kaart uitspeelt, moet de opdracht die op de kaart staat
      gelijkuitvoeren.
      De
      kaart verdwijnt dan terug onder de stapel. <br><b>stratenbouw: de speler mag onmiddellijk 2 nieuwe straten
        (gratis)
        bouwen</b><br>
      <b>ontdekking: </b>de speler mag onmiddellijk 2 grondstofkaarten naar keuze nemen <br> <b>monopolie:</b> alle
      spelers moeten al
      hun
      grondstofkaarten van een bepaalde soort - te bepalen door de speler die de kaart gebruikt - afgeven aan die
      speler5.<br>
      <b>zegepunten : </b> Deze kaarten leveren extra zegepunten op en worden het best pas op het einde van hetspel
      getoond.
    </p>
  </div>
</div>
