<div class="container">
  <div *ngFor="let lobby of lobbies " class="lobby-box" (click)="joinLobby(lobby.url)">
    <p>Host: {{lobby.host.username}}</p>
    <p>Size: {{lobby.size}}</p>
    <p>Players in lobby: {{lobby.users.length + 1}}</p>
  </div>
</div>
