.container{
  max-width:800px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 15px;
  background:rgba(255,255,255, 0.8);
  border-radius:2px;
  padding:20px;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.lobby-box{
  border: 1px solid black;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  height: 200px;
}
