<div class="resource-container">
  <img class="resource-card" [src]="'../../assets/textures/' + resourceType.toLowerCase() + '_card.png'" alt="">
  <p class="resource-value">{{resourceValue}}</p>
</div>

