.resource-card{
  width: 98%;
}

.resource-value{
  position: absolute;
  font-size: 2vw;
  top: 50%;
  width: 100%;
  color: white;
}

.resource-container{
  position: relative;
  text-align: center;
}
