router-outlet{
  height: 95%;
  width: 100%;
}
.changeLanguage{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  height: 5%;
  position: fixed;
  right: 1%;
  top: 1%;
  z-index: 5;
}
.changeLanguage > img{
  height: 80%;
  font-size: 1vw;
}
.changeLanguage > img:hover{
  cursor: pointer;
}
