<div class="changeLanguage">
  <img src="../assets/icons/belgium.png" alt="" (click)="setLang('nl')">
  <img src="../assets/icons/united-kingdom.png" alt="" (click)="setLang('en')">
</div>

<router-outlet></router-outlet>
<router-outlet name="notifications"></router-outlet>
