<div class="test-notifications-container">
  <form (submit)="sendFriendRequest(username.value)">
    <label for="username">Add friend</label>
    <input #username type="text" id="username"/>
    <button type="submit">Add</button>
    <div class="error"></div>
  </form>
  <div class="columns">
    <div class="friend-list">
      <div class="title">Friends</div>
      <ul *ngIf="friends && friends.length > 0; else no_friends">
        <li *ngFor="let friend of friends">{{ friend }}</li>
      </ul>

      <ng-template #no_friends>
        <div class="no-friends">No friends yet.</div>
      </ng-template>
    </div>
    <div class="notification-list">
      <div class="title">Notifications</div>
      <ul *ngIf="notifications && notifications.length > 0; else no_notifications">
        <li *ngFor="let notification of notifications">
          {{ notification }}
        </li>
      </ul>
      <ng-template #no_notifications>
        <div class="no-notifications">No notifications.</div>
      </ng-template>
    </div>
  </div>
</div>
