.title {
  margin-top: 24px;
  font-size: 32px;
  color: #fff;
}

label {
  display: block;
  color: #fff;
  margin: 0;
}

.no-friends, .no-notifications, ul {
  color: #fff;
}

.test-notifications-container {
  padding: 0 10px 0 10px;
}

.friend-list {
  margin: 0 20px 0 0;
}

.error {
  color: red;
  visibility: hidden;
  margin: 5px 0 0;
}

.notification-list {

}

.columns {
  display: flex;
}
