<div *ngIf="board">
  <div *ngFor="let row of amount(gridSize); index as x"
       [ngStyle]="calculateMargin(x)">
      <app-hex *ngFor="let row of amount(calculateRowSize(x)); index as y"
               [width]="hexWidth"
               [number]="board[x][y].number"
               [type]="board[x][y].tileType"
               [style.width]="(hexWidth * 1.7) + 'px'"
               [style.height]="(hexWidth*2) + 'px'"
               [style.margin-left]="horizontalMargin + 'px'"
               [ngStyle]="getTexture(board[x][y].tileType)"
               [x]="x"
               [y]="y"
               [gridSize]="gridSize"
               [rowSize]="calculateRowSize(x)"
               [buildings]="board[x][y].buildings"
               [colourArray]="colourArray"
               [isBuildingCity]="isBuildingCity"
               [isRobber]="x === robber[0] && y === robber[1]"
               (buildVillageEvent)="buildVillage($event)"
               (buildStreetEvent)="buildStreet($event)"
               (buildCityEvent)="buildCity($event)"
               [movingRobber]="(x!==robber[0] || y !== robber[1]) && movingRobber"
               (moveRobberEvent)="moveRobber($event)"
      >{{getTexture(board[x][y].tileType)}}</app-hex>
  </div>
</div>

<!-- [isRobber]="robber[0] === x && robber[1] === y" -->
