<div class="hexrectangle hex" [style.width]="(width*1.7) + 'px'" [style.height]="(width) + 'px'"
     [style.top]="(width/2) + 'px'">
  <img *ngIf="isRobber" [style.top]="-width/5 + 'px'" [style.right]="width/5 + 'px'" src="../../../../assets/board_pieces/ROBBEr.png" alt="robber" class="robber"/>
  <img *ngIf="movingRobber && isWater()" (click)="moveRobber()" [style.top]="-width/5 + 'px'" [style.right]="width/5 + 'px'" src="../../../../assets/board_pieces/ROBBEr.png" alt="robberPosition" class="robber move">
  <span *ngIf="number!==0" class="hexNumber" [style.width]="(width*1.7/3) + 'px'" [style.height]="(width*1.7/3) + 'px'">{{number != 0 ? number : null}}</span>
</div>
<div *ngIf="isWater()">
  <ng-container *ngFor="let building of buildings" >
    <app-building-spot [ngStyle]="calculatePosition(building.buildingType, building.index)"
                       *ngIf="buildingIsInHex(building.buildingType, building.index)"
                       [x]="x"
                       [y]="y"
                       [index]="building.index"
                       [type]="getBuildingType(building.buildingType)"
                       [username]="building.username"
                       [hexWidth]="width"
                       [colour]="getPlayerColour(building.playerOrder, building.buildingType)"
                       [isBuildingCity]="isBuildingCity"
    (click)="build(building.buildingType, building.index)">
    </app-building-spot>
  </ng-container>
</div>
