.hex {
  position: relative;
  border-radius: 2px;
  //background-color: #ccc;
  transition: all 150ms ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hex:before, .hex:after {
  position: absolute;
  width: inherit;
  height: inherit;
  border-radius: inherit;
  background: inherit;
  content: '';

}


.hex:before {
  transform: rotate(60deg);
}

.hex:after {
  transform: rotate(-60deg);
}

.hexNumber {
  display: inline-block;
  position: absolute;
  z-index: 2;
  background: white;
  border-radius: 50%;
  text-align: center;
  border: black 1px solid;
}

app-building-spot{
  position: absolute;
}

.robber{
  position: absolute;
  width: 35%;
  z-index: 3;
  height: auto;

  &.move{
    filter: opacity(70%) brightness(20%);

  }
}
