.development-card-image{
  max-width: 65%;
}

.notEnoughCards{
  opacity: 0.5;
}


.development-amount{
  position: absolute;
  font-size: 2vw;
  top: 73%;
  left: 23%;
  width: 100%;
  color: white;
}
.development-click{
  position: absolute;
  top: 77%;
  left: 20%;
  width: 42%;
  height: 12%;
  color: white;
  background: transparent;
  border: none;
}


.development-container{
  position: relative;
  text-align: center;
}
