<div class="development-container">
  <img [src]="source" class="development-card-image" alt="" [ngClass]="{'notEnoughCards': developmentValue === 0}">
  <p class="development-amount">{{developmentValue}}</p>
  <button class="development-click" (click)="playCard(developmentType)" [disabled]="developmentValue === 0"></button>
</div>
