.grid {
  height: 100%;
  width: 100%;
  margin-top: 20px;
  display: grid;
  grid-template-columns: 60% repeat(6, 6.6666%);
  grid-template-rows: repeat(8, 1fr);
}

.set-front {
  z-index: 10;
}

.board {
  margin: auto;
  grid-row-start: 1;
  grid-row-end: 8;
  grid-column-start: 1;
  grid-column-end: 1;
  min-width: 630px;
  background-image: url("../../../assets/ui_textures/bg_board.png");
  background-size: 100% 100%;
  padding: 2% 3% 5% 3%;
}

.beurtInfo {
  border: 1px solid black;
  grid-row-start: 1;
  grid-row-end: 1;
  grid-column-start: 3;
  grid-column-end: 8;
}

.buildIcon {
  border: 1px solid black;
  grid-row-start: 2;
  grid-column-start: 3;
  grid-column-end: 3;
}

.playerInfo {
  border: 1px solid black;
  grid-row-start: 2;
  grid-row-end: 5;
  grid-column-start: 4;
  grid-column-end: 8;
}

.trading {
  border: 1px solid black;
  grid-row-start: 3;
  grid-column-start: 3;
  grid-column-end: 3;
}

.diceRoll {
  border: 1px solid black;
  grid-row-start: 4;
  grid-column-start: 3;
  grid-column-end: 3;
}

.chatWindow {
  border: 1px solid black;
  grid-row-start: 5;
  grid-row-end: 8;
  grid-column-start: 4;
  grid-column-end: 8;
  padding: 5%;
}

.switchDeck {
  border: 1px solid black;
  grid-row-start: 8;
  grid-column-start: 2;
}

.cartDeck {
  display: flex;
  align-items: center;
  flex-flow: row wrap;
  justify-items: flex-end;
  border: 1px solid black;
  grid-row-start: 8;
  grid-column-start: 3;
  grid-column-end: 8;
}

.hexButton {
  position: relative;
  border-radius: 2px;
  transition: all 150ms ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #CCC;
  width: 50*1.7px;
  height: 50px;
  align-self: center;
  justify-self: center;
  margin-top: 50px;
}

.hexText {
  display: inline-block;
  position: absolute;
  z-index: 2;
}

.hexButton:before {
  transform: rotate(60deg);

}

.hexButton:after {
  transform: rotate(-60deg);
}

.hexButton:before, .hexButton:after {
  position: absolute;
  width: inherit;
  height: inherit;
  border-radius: inherit;
  background: inherit;
  content: '';
}

.outer-grid {
  position: absolute;
  display: grid;
  width: 100%;
  height: 100%;
  grid-template-rows: 15% 85%;
  grid-template-columns: 5% 90% 5%;
}

.player-list {
  position: relative;
  grid-column: 2;
  grid-row: 1;
  display: flex;
  justify-content: center;
}

app-player {
  width: 20%;
  height: 85%;
  transition: width 0.4s, height 0.4s;
}

.has-turn {
  width: 25%;
  height: 100%;
  transition: width 0.4s, height 0.4s;
}

.bottom-section {
  grid-row: 2;
  grid-column-start: 1;
  grid-column-end: 4;
  display: grid;
  grid-template-columns: 3fr 7fr 2fr;
  grid-template-rows: 65% 35%;
  margin-top: 10px;
  overflow: hidden;
}

.chatWindow {
  grid-column: 1;
  grid-row: 1;
  background-image: url("../../../assets/ui_textures/wooden_panel_border.png");
  background-size: 100% 100%;
  margin-left: 1%;
}

.board {
  margin-top: 30px;
  grid-column: 2;
  grid-row: 1;
}

.action-section {
  margin-left: 40%;
  grid-column: 3;
  grid-row: 1;
  position: relative;
}

.action-button {
  width: 50%;
  cursor: pointer;
}

.action-menu {
  background-image: url("../../../assets/ui_textures/wooden_panel_border.png");
  background-size: cover;
  padding-left: 5%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  position: relative;
  z-index: 20;
}

.build-action-sub-menu {
  position: absolute;
  top: 10%;
  display: flex;
  flex-direction: column;
  background-image: url("../../../assets/ui_textures/wooden_panel_border.png");
  width: 100%;
  background-size: 250% 100%;
  height: 80%;
  z-index: 10;
  justify-content: space-evenly;
}

.build-resources{
  visibility: hidden;
  background-color: rgba(0,0,0,0.8);
  opacity: 0;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border-radius: 14%;
  transition: visibility 0.4s, opacity 0.4s;
}

.build-resources-flex{
  display: flex;
  flex-flow: wrap;
  justify-content: space-evenly;
}

.build-resource-amount{
  width: 50%;

  >img{
    width: 60%;
  }
}

.sub-action{
  position: relative;
  width: 55%;
  display: inline-block;
  cursor: pointer;
  >img{
    width: 100%;
  }
}

.sub-action:hover{

  .build-resources {
    visibility: visible;
    opacity: 1;
    font-weight: bold;
    span{
      color: wheat;
    }
  }

}

.action {
  position: relative;
  text-align: center;
}


.action-arrow {
  position: absolute;
  width: 10%;
  top: 35%;
  left: 13%;
  transition: all 0.4s;

  &.left {
    transform: rotate(0);
  }

  &.right {
    transform: rotate(180deg);
  }
}

.hide-trade-actions {
  visibility: hidden;
  left: 0;
  transition: left 0.4s, visibility 0.5s;
}

.show-trade-actions {
  visibility: visible;
  left: -450%;
  transition: left 0.4s, visibility 0.5s;
}

.trade-request {
  padding: 0.5%;
  background-image: url("../../../assets/ui_textures/wooden_panel_border.png");
  background-size: 100% 100%;
  width: 45%;
  height: 50%;
  margin: auto;
  position: relative;
  top: 30%;
  z-index: 10;
}

.pop-up-development-cards{
  background-image: url("../../../assets/ui_textures/wooden_panel_border.png");
  background-size: 100% 100%;
  width: 70%;
  height: 30%;
  margin-left:auto;
  margin-right: auto;
  position: relative;
  margin-top: 15%;
  z-index: 10;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.pop-up-steal-resource{
  background-image: url("../../../assets/ui_textures/wooden_panel_border.png");
  background-size: 100% 100%;
  width: 70%;
  height: 30%;
  margin-left:auto;
  margin-right: auto;
  position: relative;
  margin-top: 15%;
  z-index: 10;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;

  .player-list{
    width: 100%;

    button{
      position: absolute;
      right: 4%;
      bottom: 0;
    }
  }
}

.development-cards-container{
  padding-left: 2%;
  padding-right: 2%;
}

.plenty-of-years-container ::ng-deep .resource-card{
  width: 75%;
}
.invention-cards{
  height: 50%;
  max-height: 350px;
}

app-trade {
  background-image: url("../../../assets/ui_textures/wooden_panel_border.png");
  background-size: 100% 100%;
  position: absolute;
  top: 30%;
  padding: 10% 30%;
  width: 450%;
  z-index: 10;
}

.hide-build-actions {
  visibility: hidden;
  left: 0;
  transition: left 0.3s, visibility 0.4s;
}

.show-build-actions {
  visibility: visible;
  left: -100%;
  transition: left 0.3s, visibility 0.4s;
  padding: 7% 0 7% 7%;
}

.resource-container {
  grid-row: 2;
  grid-column: 1;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.dice-container {
  grid-row: 2;
  grid-column: 3;
}

app-dice {
  display: block;
  margin-top: 20%;
}

.build-actions {
  text-align: center;
}

.resource-cards-receive {
  display: flex;
  justify-content: center;
  height: 40%;
}

.resource-cards-give {
  display: flex;
  justify-content: center;
  height: 40%;
}

.trade-resource-card {
  width: 12%;
  margin: 3%;

}

.title {
  color: wheat;
  display: block;
  text-align: center;
}

.span-text-request {
  top: 20%;
  align-self: center;
  color: wheat;
  font-weight: bold;
  width: 1%;
}

.accept-trade {
  margin-left: 40%;
}

#left-buttons {
  position: relative;
  grid-row: 1;
  grid-column: 1;

  img {
    position: absolute;
    width: 50%;
    left: 10%;
    cursor: pointer;

  }

  #mute {
    top: 40%;
  }

  #back {
    top: 5%;
  }
}

#right-buttons {
  position: relative;
  grid-row: 1;
  grid-column: 3;

  img {
    position: absolute;
    width: 30%;
    top: 40%;
    right: 20%;
    cursor: pointer;
  }
}

.disabled{
  cursor: auto;
  opacity: 0.6;
}

.winner-class{
  position: relative;
  margin-left: auto;
  margin-right: auto;
  background-image: url("../../../assets/ui_textures/wooden_panel_border.png");
  background-size: 100% 100%;
  width: 25%;
  margin-top: 10%;
  z-index: 15;
  display: flex;
  flex-direction: column;
}

.winner-class > img{
  max-width: 75%;
  margin: -15% auto auto;
}

.winner-username{
  text-align: center;
  width: 100%;
  font-size: 2em;
  padding-top: 5%;
  color: white;
}

.winner-button{
  margin-bottom: 5%;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}


