<ng-container *ngIf="game!==null">


  <div class="outer-grid">
    <div class="player-list" *ngIf="avatars.length === game.players.length">
      <app-player *ngFor="let player of game.players"
                  [ngClass]="player.username===game.playerWithTurn.username?'has-turn':''"
                  [player]="player"
                  [avatarNumber]="avatars[player.turnOrder]">
      </app-player>
    </div>
    <div id="left-buttons">
      <img id="mute" [src]="audio.paused?'../../../assets/icons/mute.png':'../../../assets/icons/loud.png'"
           (click)="toggleAudio()">
      <img id="back" src="../../../assets/icons/home.png" [routerLink]="'/navigation'">
    </div>
    <div id="right-buttons">
      <img src="../../../assets/icons/rules.png" [routerLink]="['/rules']">
    </div>
    <div class="bottom-section">
      <div class="chatWindow">
        <app-chat></app-chat>
      </div>

      <app-board class="board"
                 [board]="game.tiles"
                 [isBuildingCity]="isBuildingCity"
                 [colourArray]="colourArray"
                 [robber]="game.robber"
                 (buildVillageEvent)="buildVillage($event)"
                 (buildStreetEvent)="buildStreet($event)"
                 (buildCityEvent)="buildCity($event)"
                 [movingRobber]="game.requiredAction === 'MOVE_ROBBER'"
                 (moveRobberEvent)="moveRobber($event)"></app-board>

      <div class="action-section">
        <div class="action-menu">
          <div class="action" [ngClass]="(game.requiredAction!==null || completed)&&game.playerWithTurn.username===player.username?'disabled':''">
            <img class="action-button" src="../../../assets/ui_textures/build_hammer.png" alt="build"
                 (click)="(game.requiredAction===null && !completed)&&game.playerWithTurn.username===player.username?showBuildActions():''">
            <img class="action-arrow" [ngClass]="hideBuildActions === true ? 'left': 'right'"
                 src="../../../assets/ui_textures/arrow.png" alt="arrow">
          </div>
          <div class="action" [ngClass]="(game.requiredAction!==null || completed)&&game.playerWithTurn.username===player.username?'disabled':''">
            <img class="action-button" src="../../../assets/ui_textures/trade.png" alt="build"
                 (click)="(game.requiredAction===null && !completed)&&game.playerWithTurn.username===player.username?trade():''">
            <img class="action-arrow" [ngClass]="trading !== true ? 'left': 'right'"
                 src=" ../../../assets/ui_textures/arrow.png"
                 alt="arrow">
          </div>
          <div class="action" [ngClass]="(game.requiredAction!==null || completed)&&game.playerWithTurn.username===player.username?'disabled':''">
            <img class="action-button" src="../../../assets/ui_textures/development_assets/development_btn.png"
                 alt="build"
                 (click)="(game.requiredAction===null && !completed)&&game.playerWithTurn.username===player.username?popUpDevelopmentCards():''">
          </div>
          <div class="action"
               [ngClass]="(game.requiredAction!==null&&game.requiredAction!=='DICE' || completed)&&game.playerWithTurn.username===player.username?'disabled':''">
            <img class="action-button"
                 [src]="game.requiredAction !== undefined && game.requiredAction === 'DICE'?'../..../../assets/ui_textures/woodenDice.png':'../../assets/ui_textures/end_turn.png'"
                 (click)="(!completed && game.requiredAction===null||game.requiredAction === 'DICE')&&game.playerWithTurn.username===player.username?(game.requiredAction === 'DICE'?rollDice():endTurn()):''"
                 alt="build">
          </div>
        </div>
        <div class="build-action-sub-menu"
             [ngClass]="hideBuildActions === true ? 'hide-build-actions': 'show-build-actions'">
          <div class="action">
            <div class="sub-action" (click)="popUpBuildings()">
              <img src="../../../assets/ui_textures/build_village.png" >
              <div class="build-resources">
                <span>{{ 'VILLAGE' | translate }}</span>
                <div class="build-resources-flex">
                  <div class="build-resource-amount">
                    <img src="../../../assets/ui_textures/resource_hexes/brick_hex_detailed.png">
                    <span>1</span>
                  </div>
                  <div class="build-resource-amount">
                    <img src="../../../assets/ui_textures/resource_hexes/wood_hex_detailed.png">
                    <span>1</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="action">
            <div class="sub-action" (click)="popUpStreets()">
              <img src="../../../assets/ui_textures/build_street.png">
              <div class="build-resources">
                <span>{{ 'STREET' | translate }}</span>
                <div class="build-resources-flex">
                  <div class="build-resource-amount">
                    <img src="../../../assets/ui_textures/resource_hexes/brick_hex_detailed.png">
                    <span>1</span>
                  </div>
                  <div class="build-resource-amount">
                    <img src="../../../assets/ui_textures/resource_hexes/wood_hex_detailed.png">
                    <span>1</span>
                  </div>
                  <div class="build-resource-amount">
                    <img src="../../../assets/ui_textures/resource_hexes/wool_hex_detailed.png">
                    <span>1</span>
                  </div>
                  <div class="build-resource-amount">
                    <img src="../../../assets/ui_textures/resource_hexes/grain_hex_detailed.png">
                    <span>1</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="action">
            <div class="sub-action" (click)="popUpCities()">
              <img src="../../../assets/ui_textures/build_city.png" >
              <div class="build-resources">
                <span>{{ 'CITY' | translate }}</span>
                <div class="build-resources-flex">
                  <div class="build-resource-amount">
                    <img src="../../../assets/ui_textures/resource_hexes/ore_hex_detailed.png">
                    <span>3</span>
                  </div>
                  <div class="build-resource-amount">
                    <img src="../../../assets/ui_textures/resource_hexes/grain_hex_detailed.png">
                    <span>2</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="action">
            <div class="sub-action" (click)="buyDevelopmentCard()">
              <img src="../../../assets/ui_textures/development_assets/development_btn.png" >
              <div class="build-resources">
                <span>{{ 'DEVELOPMENTCARD' | translate }}</span>
                <div class="build-resources-flex">
                  <div class="build-resource-amount">
                    <img src="../../../assets/ui_textures/resource_hexes/ore_hex_detailed.png">
                    <span>1</span>
                  </div>
                  <div class="build-resource-amount">
                    <img src="../../../assets/ui_textures/resource_hexes/grain_hex_detailed.png">
                    <span>1</span>
                  </div>
                  <div class="build-resource-amount">
                    <img src="../../../assets/ui_textures/resource_hexes/wool_hex_detailed.png">
                    <span>1</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <app-trade [ngClass]="trading === true ? 'show-trade-actions': 'hide-trade-actions'" [game]="game"
                   (hasTraded)=sentOutTradeRequest($event)
                   [player]="player" (request)="receivedRequest($event)"></app-trade>
      </div>
      <div class="resource-container">
        <app-resource-card *ngFor="let resource of player.resources | keyvalue"
                           [resourceType]="resource.key"
                           [resourceValue]="resource.value">
        </app-resource-card>
      </div>
      <div class="dice-container">
        <app-dice
          *ngIf="game.dice !== null && game.dice != undefined"
          [die1]="game.dice[0]"
          [die2]="game.dice[1]"
        ></app-dice>
      </div>
    </div>


  </div>
</ng-container>

<div class="trade-request" *ngIf="tradeRequest != null">
  <span class="title">Player {{tradeRequest.username}} wants to trade with you</span>
  <div class="resource-cards-give">
    <app-resource-card class="trade-resource-card" [resourceType]="'BRICK'" [resourceValue]="2"
                       *ngIf="tradeRequest.resourcesToGive[0] > 0"></app-resource-card>
    <app-resource-card class="trade-resource-card" [resourceType]="'GRAIN'" [resourceValue]="2"
                       *ngIf="tradeRequest.resourcesToGive[1] > 0"></app-resource-card>
    <app-resource-card class="trade-resource-card" [resourceType]="'ORE'" [resourceValue]="2"
                       *ngIf="tradeRequest.resourcesToGive[2] > 0"></app-resource-card>
    <app-resource-card class="trade-resource-card" [resourceType]="'WOOD'" [resourceValue]="2"
                       *ngIf="tradeRequest.resourcesToGive[3] > 0"></app-resource-card>
    <app-resource-card class="trade-resource-card" [resourceType]="'WOOL'" [resourceValue]="2"
                       *ngIf="tradeRequest.resourcesToGive[4] > 0"></app-resource-card>
    <span class="span-text-request">You will receive</span>
  </div>
  <div class="resource-cards-receive">
    <app-resource-card class="trade-resource-card" [resourceType]="'BRICK'"
                       [resourceValue]="tradeRequest.resourcesToGet[0]"
                       *ngIf="tradeRequest.resourcesToGet[0] > 0"></app-resource-card>
    <app-resource-card class="trade-resource-card" [resourceType]="'GRAIN'"
                       [resourceValue]="tradeRequest.resourcesToGet[0]"
                       *ngIf="tradeRequest.resourcesToGet[1] > 0"></app-resource-card>
    <app-resource-card class="trade-resource-card" [resourceType]="'ORE'"
                       [resourceValue]="tradeRequest.resourcesToGet[0]"
                       *ngIf="tradeRequest.resourcesToGet[2] > 0"></app-resource-card>
    <app-resource-card class="trade-resource-card" [resourceType]="'WOOD'"
                       [resourceValue]="tradeRequest.resourcesToGet[0]"
                       *ngIf="tradeRequest.resourcesToGet[3] > 0"></app-resource-card>
    <app-resource-card class="trade-resource-card" [resourceType]="'WOOL'"
                       [resourceValue]="tradeRequest.resourcesToGet[0]"
                       *ngIf="tradeRequest.resourcesToGet[4] > 0"></app-resource-card>
    <span class="span-text-request">You will give</span>
  </div>
  <button (click)="doTradeAction()" class="accept-trade">Accept Request!</button>
  <button (click)="refuseAction()" class="btn btn-danger">Refuse request</button>

</div>

<div class="pop-up-development-cards development-cards-container" *ngIf="showDevelopmentCardMenu">
  <app-development-card *ngFor="let developmentCard of player.developmentCards | keyvalue"
                        [developmentType]="developmentCard.key"
                        [developmentValue]="developmentCard.value"
                        (playDevelopmentCard)="playCard($event)"></app-development-card>
</div>

<div class="pop-up-development-cards plenty-of-years-container" *ngIf="showYearOfPlentyMenu">
  <app-resource-card *ngFor="let resource of player.resources | keyvalue"
                     [resourceType]="resource.key"
                     [resourceValue]="X"
                     (click)="playYearOfPlentyCard(resource.key)">
  </app-resource-card>
</div>

<div class="pop-up-development-cards invention-cards" *ngIf="showInventionMenu">
  <app-invention-card [player]="player" (doInventionAction)="playInventionCard($event)"></app-invention-card>
</div>

<div class="pop-up-steal-resource" *ngIf="showStealMenu">
  <div class="player-list">
    <app-player *ngFor="let player of stealResourcePlayers"
                [player]="player"
    (click)="robberSteal(player.username)">
    </app-player>
  </div>
  <button class="btn btn-primary"
  (click)="robberSteal(null)">{{ 'NOSTEAL' | translate }}</button>
</div>

<div class="winner-class" *ngIf="completed">
  <p class="winner-username">{{game.playerWithTurn.username}}</p>
  <img src="../../../assets/icons/winner.png" alt="">
  <button [routerLink]="['/navigation']" class="winner-button btn btn-info">Go back</button>
</div>
