<h1>Settlers of Catan</h1>
<div class="login-container">
  <form class="login-form" (ngSubmit)="loginUser()" #loginForm="ngForm">
    <h1>Login</h1>
    <ul>
      <li id="facebookBox">
        <p>Facebook</p>
      </li>
      <li id="googleBox">
        <p>Google</p>
      </li>
      <li id="usernameBox" >
        <input type="text" name="username"  id="username" [(ngModel)]="userToLogin.username" placeholder="{{ 'ENTERUSERNAME' | translate }}">
      </li>

      <li id="passwordBox">
        <input type="password" name="password" id="password" [(ngModel)]="userToLogin.password" placeholder="{{ 'ENTERPASSWORD' | translate }}">
      </li>

      <li id="submitBox">
        <input type="submit" value="Login">
      </li>
      <li id="passwordForgotBox">
        <button type="button" class="btn btn-info" [routerLink]="['#']"> {{ 'FORGOTPASSWORD' | translate }}</button>
      </li>
      <li id="noAccountBox">
        <button type="button" class="btn btn-info" [routerLink]="['/register']"> {{ 'NOACCOUNT' | translate }}</button>
      </li>
    </ul>
  </form>
  <!-- Use the loading component -->
  <app-loader></app-loader>
</div>
