h1{
  color: white;
}

.login-form{
  max-width:500px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 15px;
  background:rgba(255,255,255, 0.8);
  border-radius:2px;
  padding:20px;
  font-family: Georgia, "Times New Roman", Times, serif;
}
.login-form h1{
  display: block;
  text-align: center;
  margin: 0 0 20px 0;
  padding: 0 0 15px;
  color: #5C5C5C;
  font-size:x-large;
  border-bottom: 2px solid #5C5C5C;
}
.login-form ul{
  list-style:none;
  padding:0;
  margin:0;
  display: grid;
  grid-template-rows:  repeat(6,1fr);
  grid-template-columns: repeat(2, 50%);
}

/*MOBILE POSITIONING*/
#facebookBox{
  grid-row: 1;
  grid-column-start: 1;
  grid-column-end: 3;
}
#googleBox{
  grid-row: 2;
  grid-column-start: 1;
  grid-column-end: 3;
}
#usernameBox{
  grid-row: 3;
  grid-column-start: 1;
  grid-column-end: 3;
  background: white;
}
#passwordBox{
  grid-row: 4;
  grid-column-start: 1;
  grid-column-end: 3;
  background: white;
}
#submitBox{
  grid-row: 5;
  grid-column-start: 1;
  grid-column-end: 3;
  margin: 0;
  border: none;
}
#passwordForgotBox{
  grid-row: 6;
  grid-column: 1;
  border:none;
  text-align: center;
  margin: 0;
}
#noAccountBox{
  grid-row: 6;
  grid-column: 2;
  border:none;
  text-align: center;
  height: 15px;
}

.login-form li{
  display: block;
  padding: 9px;
  border:1px solid #DDDDDD;
  margin-bottom: 30px;
  border-radius: 3px;
}

.login-form input[type="text"],
.login-form input[type="password"]
{
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  width: 100%;
  display: block;
  outline: none;
  border: none;
  height: 25px;
  line-height: 25px;
  font-size: 16px;
  padding: 0;
  font-family: Georgia, "Times New Roman", Times, serif;
  margin-top: 8px;
}


.login-form input[type="submit"]{
  background: #2471FF;
  border: none;
  padding: 10px 20px 10px 20px;
  border-radius: 3px;
  color: #D2E2FF;
  width: 100%;
}
.login-form input[type="submit"]:hover,
.login-form input[type="button"]:hover{
  background: #6B9FFF;
  color:#fff;
  cursor: pointer;
}
.login-form li:focus-within{
  border: 1px solid #2471FF;
}

@media (min-width: 600px) {
  .login-form ul {
    grid-template-rows: repeat(5, 1fr);
  }
  .login-form{
    max-height: 600px;
  }
  #facebookBox {
    grid-row: 1;
    grid-column: 1;
  }
  #googleBox {
    grid-row: 1;
    grid-column: 2;
  }
  #usernameBox {
    grid-row: 2;
    grid-column-start: 1;
    grid-column-end: 3;
  }
  #passwordBox {
    grid-row: 3;
    grid-column-start: 1;
    grid-column-end: 3;
  }
  #submitBox {
    grid-row: 4;
    grid-column-start: 1;
    grid-column-end: 3;
  }
  #passwordForgotBox {
    grid-row: 5;
    grid-column: 1;
  }
  #noAccountBox {
    grid-row: 5;
    grid-column: 2;
  }
}

