.navigation-menu{
  align-self: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  top: 6%;
  width: 40%;
  position: relative;
  padding: 5% 2%;
  background-image: url("../../assets/ui_textures/banner_02.png");
  background-size: 60% 100%;
  background-repeat: no-repeat;
  background-position: center;
  height: 58%;

  button{
    margin-bottom: 3%;
    border: none;
    padding: 1% 5%;
    background-color: transparent;
    background-image: url("../../assets/ui_textures/wood_plank.png");
    background-size: 100% 100%;
    width: 40%;
    font-size: 1.2vw;
    font-weight: bold;
    color: wheat;
  }
}

.navigation-title{
  position: relative;
  text-align: center;
  top: 12%;
  z-index: 5;
  width: 40%;
  align-self: center;

  img{
    width: 60%;
  }
  span{
    position: absolute;
    left: 0%;
    font-weight: bold;
    font-size: 2vw;
    top: 20%;
    width: 100%;
  }
}

.background{
  display: flex;
  flex-direction: column;
  height: 100%;
}
