<div class="background">
  <div class="navigation-title">
    <img src="../../assets/ui_textures/navtitle.png">
    <span>Catan</span>
  </div>
  <div class="navigation-menu">
    <button (click)="createNewLobby()">{{ 'CREATELOBBY' | translate }}</button>
    <button [routerLink]="['/profile']">{{ 'YOURPROFILE' | translate }}</button>
    <button [routerLink]="['/gameList']">{{ 'MYGAMES' | translate }}</button>
    <button [routerLink]="['/lobbyList']">{{ 'LOBBYLIST' | translate }}</button>
    <button (click)="logout()">{{ 'LOGOUT' | translate }}</button>
  </div>
</div>
