/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';
@import '~ngx-toastr/toastr.css';

* {
  margin: 0;
  font-family: Georgia, "Times New Roman", Times, serif;
}

app-root {
  position: absolute;
  width: 100%;
  height: 100%;
}

h1 {
  width: 100%;
  margin-top: 15px;
  text-align: center;
}

#toast-container > div {
  opacity: 1;
}

body {
  background-size: cover;
  background: url("assets/backgrounds/catan_background.jpg") no-repeat;
}
