.outer-container{
  display: grid;
  grid-template-rows: 80% 20%;
  grid-template-columns: 100%;
}

.all-resources-container{
  grid-row: 1;
  grid-column: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

.resource-container ::ng-deep .resource-card{
  max-width: 60%;
}

.resource-container{
  height: 90%;
  display: grid;
  grid-template-rows: 85% 15%;
  grid-template-columns: 50% 50%;
}

#resourceCard{
  grid-row: 1;
  grid-column-start: 1;
  grid-column-end: 3;
}

#btnIncrease{
  grid-row: 2;
  grid-column: 1;
}
#btnDecrease{
  grid-row: 2;
  grid-column: 2;
}

.button{
  margin-left: auto;
  margin-right: auto;
  width: 75%;
  height: 85%;
  margin-top: 15%;
  padding: 0;
}

.btn-get-cards{
  grid-row: 2;
  grid-column: 1;
  max-width: 25%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 25px;
}
