<div class="outer-container">
  <div class="all-resources-container">
    <div class="resource-container" *ngFor="let resource of player.resources | keyvalue">
      <app-resource-card [resourceType]="resource.key"
                         [resourceValue]="getValue(resource.key)" id="resourceCard"></app-resource-card>

      <button id="btnIncrease" (click)="increaseValue(resource.key)" [disabled]="calculateTotal() >= 2"
              class="button btn btn-success">+
      </button>
      <button id="btnDecrease" (click)="decreaseValue(resource.key)" [disabled]="getValue(resource.key) <= 0"
              class="button btn btn-danger">-
      </button>
    </div>
  </div>

  <button class="btn btn-primary btn-get-cards" [disabled]="calculateTotal() != 2" (click)="getInventionResources()">Get resources</button>
</div>



