* {
  font-family: "Arial", sans-serif;
}

.notification-container {
  position: absolute;
  right: 0;
  top: 0;
  padding: 10px;

  .notification {
    background-color: #f39c12;
    color: #fff;
    padding: 20px;
    margin-bottom: 2px;
    transition: all 0.2s ease;

    .notification-button {
      position: relative;
      margin: 5px 5px 0 0;
      background-color: rgba(black, 0.25);
      box-shadow: 0 3px rgba(black, 0.4);
      border: none;
      padding: 10px 15px;
      font-family: "Arial", sans-serif;
      color: #fff;
      outline: none;
      cursor: pointer;

      &:hover {
        background: rgba(black, 0.3);
      }

      &:active {
        background: rgba(black, 0.3);
        box-shadow: 0 0 rgba(black, 0.4);
        top: 3px;
      }
    }
  }

  .notification:last-child {
    margin-bottom: 0;
  }
}
