.lobbyContainer {
  background-color: rgba(255,255,255,.8);
  width: 90%;
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  padding: 15px;
}

h3{
  font-size: 1.2em;
}
.player-usernames{
  text-align: center;
}

.grid-button-players{
  display: grid;
  grid-template-rows: 100%;
  grid-template-columns: 48% 4% 48%;
  margin-bottom: 10px;
}

.btn-add-computer{
  grid-row: 1;
  grid-column: 1;
}

.btn-add-player{
  grid-row: 1;
  grid-column: 3;
}

.start-leave-grid{
  display: grid;
  grid-template-rows: 100%;
  grid-template-columns: 48% 4% 48%;
  border-top: 2px solid black;
  padding-top: 10px;
}
.leave-game-button{
  grid-row: 1;
  grid-column: 3;
}
.start-game-button{
  grid-row: 1;
  grid-column: 1;
}

.invitation-overlay {
  position: absolute;
  left: 5px;
  top: 5px;
  padding: 5px;
  display: flex;
  border: 1px solid #000;
  background-color: #fff;
  visibility: hidden;
  height: 200px;
  flex-direction: column;

  .friend-search {

  }

  .friend-list {
    list-style-type: none;
    padding: 0;
    margin: 5px 0 0;
    overflow-y: auto;
  }
  
  .invite-link {
    color: darkblue;
    text-decoration: underline;

    &:hover {
      cursor: pointer;
    }
  }
}

.empty-list {
  margin-top: 5px;
}
