<div class="invitation-overlay">
  <input class="friend-search" [(ngModel)]="searchText"/>
  <ul class="friend-list" *ngIf="connectedFriends && connectedFriends.length > 0; else no_connected_friends">
    <li *ngFor="let connectedFriend of connectedFriends">
      {{connectedFriend.username}} - <span class="invite-link" (click)="sendInvitation(connectedFriend.username)">Invite</span>
    </li>
  </ul>
  <ng-template #no_connected_friends>
    <div class="empty-list">No friends online.</div>
  </ng-template>
</div>

<div class="lobbyContainer" *ngIf="host">
  <h3>Lobby host : {{host.username}}</h3>
  <h3 class="players-title">{{"PLAYERS" | translate}}:</h3>
  <div *ngFor="let player of players">
    <p class="player-usernames">{{player.username}}</p>
  </div>

  <div *ngIf="isHost === true" class="add-players">
    <div *ngFor="let in of calculateFreePlayerSpots() ;let i = index" class="grid-button-players">
      <button (click)="addComputerPlayer()"
              class="btn btn-primary btn-add-computer">{{"ADDCOMPUTER" | translate}}</button>
      <button class="btn btn-primary btn-add-player"
              (click)="showInvitationOverlay()">{{"INVITEFRIEND" | translate}}</button>
    </div>
  </div>

  <div class="start-leave-grid">
    <button (click)="leave()" class="leave-game-button btn btn-danger">{{"LEAVELOBBY" | translate}}</button>
    <button (click)="start()" class="start-game-button btn btn-success"
            *ngIf="isHost === true">{{"STARTGAME" | translate}}</button>
  </div>

</div>
