<ng-container *ngIf="game!==null && player !== undefined">
  <img id="back" src="../../assets/icons/home.png" [routerLink]="'/navigation'" class="btn-home">

  <div class="outer-grid">
    <div class="player-list">
      <app-player *ngFor="let player of game.players"
                  [ngClass]="player.username===game.playerWithTurn.username?'has-turn':''"
                  [player]="player"
                  [avatarNumber]="1">
      </app-player>
    </div>
    <div class="actionBox">
      <button (click)="getNextAction()" class="btn btn-success">get next action</button>
    </div>

    <div class="bottom-section">
      <div class="chatWindow">
        <app-chat></app-chat>
      </div>

      <app-board class="board"
                 [board]="game.tiles"
                 [isBuildingCity]="isBuildingCity"
                 [colourArray]="colourArray"
                 [robber]="game.robber"
                 (buildVillageEvent)="buildVillage($event)"
                 (buildStreetEvent)="buildStreet($event)"
                 [movingRobber]="game.requiredAction === 'MOVE_ROBBER'"
                 (moveRobberEvent)="moveRobber($event)"></app-board>

      <div class="resource-container">
        <app-resource-card *ngFor="let resource of player.resources | keyvalue"
                           [resourceType]="resource.key"
                           [resourceValue]="resource.value">
        </app-resource-card>
      </div>
      <div class="dice-container">
        <app-dice
          *ngIf="game.dice !== null"
          [die1]="game.dice[0]"
          [die2]="game.dice[1]"
        ></app-dice>
      </div>
    </div>


  </div>
</ng-container>
