.grid {
  height: 100%;
  width: 100%;
  margin-top: 20px;
  display: grid;
  grid-template-columns: 60% repeat(6, 6.6666%);
  grid-template-rows: repeat(8, 1fr);
}

.set-front{
  z-index: 10;
}

.btn-home{
  width: 50px;
  position: absolute;
  z-index: 999;
}

.btn-home:hover {
  cursor: pointer;
  z-index: 100;
}

.board {
  margin: auto;
  grid-row-start: 1;
  grid-row-end: 8;
  grid-column-start: 1;
  grid-column-end: 1;
  min-width: 630px;
  background-image: url("../../assets/ui_textures/bg_board.png");
  background-size: 100% 100%;
  padding: 2% 3% 5% 3%;
}

.beurtInfo {
  border: 1px solid black;
  grid-row-start: 1;
  grid-row-end: 1;
  grid-column-start: 3;
  grid-column-end: 8;
}

.buildIcon {
  border: 1px solid black;
  grid-row-start: 2;
  grid-column-start: 3;
  grid-column-end: 3;
}

.playerInfo {
  border: 1px solid black;
  grid-row-start: 2;
  grid-row-end: 5;
  grid-column-start: 4;
  grid-column-end: 8;
}

.trading {
  border: 1px solid black;
  grid-row-start: 3;
  grid-column-start: 3;
  grid-column-end: 3;
}

.diceRoll {
  border: 1px solid black;
  grid-row-start: 4;
  grid-column-start: 3;
  grid-column-end: 3;
}

.chatWindow {
  border: 1px solid black;
  grid-row-start: 5;
  grid-row-end: 8;
  grid-column-start: 4;
  grid-column-end: 8;
  padding: 5%;
}

.switchDeck {
  border: 1px solid black;
  grid-row-start: 8;
  grid-column-start: 2;
}

.cartDeck {
  display: flex;
  align-items: center;
  flex-flow: row wrap;
  justify-items: flex-end;
  border: 1px solid black;
  grid-row-start: 8;
  grid-column-start: 3;
  grid-column-end: 8;
}

.hexButton {
  position: relative;
  border-radius: 2px;
  transition: all 150ms ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #CCC;
  width: 50*1.7px;
  height: 50px;
  align-self: center;
  justify-self: center;
  margin-top: 50px;
}

.hexText {
  display: inline-block;
  position: absolute;
  z-index: 2;
}

.hexButton:before {
  transform: rotate(60deg);

}

.hexButton:after {
  transform: rotate(-60deg);
}

.hexButton:before, .hexButton:after {
  position: absolute;
  width: inherit;
  height: inherit;
  border-radius: inherit;
  background: inherit;
  content: '';
}














.outer-grid{
  position: absolute;
  display: grid;
  width: 100%;
  height: 100%;
  grid-template-rows: 15% 5% 80%;
  grid-template-columns: 100%
}
.player-list{
  position: relative;
  grid-column: 1;
  grid-row: 1;
  display: flex;
  justify-content: center;
}

app-player{
  width: 20%;
  height: 85%;
  transition: width 0.4s, height 0.4s;
}

.has-turn{
  width: 25%;
  height: 100%;
  transition: width 0.4s, height 0.4s;
}

.actionBox{
  grid-column: 1;
  grid-row: 2;
  width: 100%;
  text-align: center;
  margin-top: 15px;
}

.bottom-section{
  grid-row: 3;
  grid-column: 1;
  display: grid;
  grid-template-columns: 3fr 7fr 2fr;
  grid-template-rows: 65% 35%;
}

.chatWindow{
  grid-column: 1;
  grid-row: 1;
  background-image: url("../../assets/ui_textures/wooden_panel_border.png");
  background-size: 100% 100%;
  margin-left: 1%;
}

.board{
  margin-top: 30px;
  grid-column: 2;
  grid-row: 1;
}
.action-section{
  margin-left: 40%;
  grid-column: 3;
  grid-row: 1;
  position: relative;
}

.action-button{
  width: 50%;
}

.action-menu{
  background-image: url("../../assets/ui_textures/wooden_panel_border.png");
  background-size: cover;
  padding-left: 5%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  position: relative;
  z-index: 20;
}

.build-action-sub-menu{
  position: absolute;
  top: 10%;
  display: flex;
  flex-direction: column;
  background-image: url("../../assets/ui_textures/wooden_panel_border.png");
  width: 100%;
  padding: 15% 5% 0 15%;
  background-size: 250% 100%;
  height: 80%;
  z-index: 10;

  button{
    margin-bottom: 15%;
  }
}

.action{
  position: relative;
  text-align: center;
}

.action-arrow{
  position: absolute;
  width: 10%;
  top: 35%;
  left: 13%;
  transition: all 0.4s;

  &.left{
    transform: rotate(0);
  }

  &.right{
    transform: rotate(180deg);
  }
}

.hide-build-actions {
  visibility: hidden;
  left: 0;
  transition: left 0.3s, visibility 0.4s;
}

.show-build-actions {
  visibility: visible;
  left: -100%;
  transition: left 0.3s, visibility 0.4s;
}

.resource-container{
  grid-row: 2;
  grid-column: 1;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.dice-container{
  grid-row: 2;
  grid-column: 3;
}

app-dice{
  display: block;
  margin-top: 20%;
}

